html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.title{
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 53px;
  }
.subtitle{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
  }