
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    color: $title;
    padding-bottom: 0 2px 1px;
    transition: all .3s;
    @extend %roboto-400;
    &:hover{
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }
  &__list-link--active{
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %roboto-700;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
  }
  &__link + .user-nav__link{
    padding-left: 25px;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    top: -9px;
    right: -14px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
  }
}

.footer {
    background-color: $bg;
}

.footer-top {
    display: flex;
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;

    &__contact {
        margin-right: 30px;
        width: 100%;
        max-width: 270px;
    }

    &__nav {
        margin-right: 30px;
        width: 100%;
        max-width: 170px;
    }

    &__item-form {
        width: 100%;
        max-width: 470px;
    }

    &__title {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.2;
        color: $title;
    }

    &__logo {
        display: block;
        margin-bottom: 33px;
    }

    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    &__social-item {
        &:not(:last-child) {
            padding-right: 18px;
        }
    }

    &__link {
        display: block;
        margin-bottom: 14px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        margin-right: 10px;
        padding: 12px 10px 12px 15px;
        width: 100%;
        max-width: 320px;
        border: none;
        box-shadow: 0 7px 20px rgba(192, 192, 192, 0.3);
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        background-color: $white;
    }

    &__form-btn {
      border: none;
      background-color: $accent;
      text-transform: uppercase;
      color: $white;
      padding: 12px 26px;
      box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }



    &__address,
    &__email,
    &__phone {
        display: block;
        margin-bottom: 14px;
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    font-size: 12px;

    &__accept {
        display: flex;
        align-items: center;
    }

    &__accept-img {
        margin-left: 25px;
    }
}

@import 'media';